{% extends 'base.html' %} {% block title %}404 - Page Not Found{% endblock %} {%
block content %}
<br />
<div class="text-center">
  <h1 class="display-4 text-danger">Oops! 404 Error!</h1>
  <p class="lead text-muted">
    Looks like you've stumbled into the void. This page doesn't exist (yet?)!
  </p>

  <div class="my-4">
    <img
      src="https://media.giphy.com/media/3o6nV5u6uy27lTS3i8/giphy.gif"
      alt="Lost in space"
      class="img-fluid rounded shadow"
    />
  </div>

  <p class="text-warning">But don't worry, there's still hope!</p>

  <div class="mt-4">
    <h4>Here's what you can do:</h4>
    <ul class="list-unstyled d-flex flex-column align-items-center">
      <li class="mb-2">
        <i class="fas fa-home"></i>
        <a href="/" class="btn btn-outline-primary mt-2">Go to Home Page</a>
      </li>
      <li class="mb-2">
        <i class="fas fa-book"></i>
        <a href="/lessons/" class="btn btn-outline-info mt-2"
          >Start Learning Python</a
        >
      </li>
      <li class="mb-2">
        <i class="fas fa-info-circle"></i>
        <a href="/about/" class="btn btn-outline-secondary mt-2"
          >Learn More About Us</a
        >
      </li>
    </ul>
  </div>

  <p class="mt-4 text-muted">Happy Coding, and don't get lost again!</p>
</div>
{% endblock %}
