{% extends "base.html" %} {% block title %}Lessons - Turbo Python{% endblock %}
{% block content %}
<section class="lessons">
  <h1>Python Lessons</h1>
  <p>Choose from the lessons below to begin your Python journey:</p>
  <ul>
    <li>
      <a href="{{ url_for('static', filename='lessons/lesson1.html') }}"
        >Lesson 1: Basics & Syntax</a
      >
    </li>
    <li>
      <a href="{{ url_for('static', filename='lessons/lesson2.html') }}"
        >Lesson 2: If Statements & Logic</a
      >
    </li>
    <li>
      <a href="{{ url_for('static', filename='lessons/lesson3.html') }}"
        >Lesson 3: Data Structures</a
      >
    </li>
  </ul>
</section>
{% endblock %}
